/**
 * Project: Dynamic Form Generator
 * File: index.css
 * Description: Global CSS styles for the application.
 * Author: Prasanth Ravi
 * Created On: January 24, 2025
 * Version: 1.0.0
 *
 * License: Unlicensed
 * Note: This file contains global styles for the React application.
 */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}
